extends layout

block content
    div(class= "banner-title")
        h1= title

    section
        h1 #{Contact} Info
        div(class="contact-info")
            p
            |
            a(href="mailto:") business@wesa.nz 
            p
            |
            a(href="tel:+278382") +64 27 123 456


