extends layout

block content
    div(class="banner-title")
        h1=title

    section(class="section-one")
        table
            tr
                th School Competitions

        table
            tr
                th Local LAN Events

        table
            tr
                th Professional Events
        