footer
    div(class="footer-div")
        ul
            li
                a(href='/') Home
            li 
                a(href='/about') About Us
            li
                a(href='/registration') Registration
            li 
                a(href='/leagues') Leagues
            li 
                a(href='/events') Events
            li 
                a(href='/regulations') Regulations
            li 
                a(href='/media') Media
            li 
                a(href='/contact') Contact Us
    div(class="copyright") 
        p © 2019 Peter Lee