header
    nav(class="navbar")
        div(id="navbar-logo") WESA
        ul(class="navbar-ul-options")
            li Home
            li About
            li Registration
            li Leagues
            li Events
            li Regulations
            li Media
            li Contact
        div(class="hamburger")
            div(class="line1")
            div(class="line2")
            div(class="line3")



    script(src='/javascripts/script.js')