nav
    div(id="navbar-logo")
        img(id="logo" src="../images/wesa-logo1.svg" alt="WESA Logo")
    div(class="hamburger")
        div(class="line1")
        div(class="line2")
        div(class="line3")

    ul(class="nav-links")
        li
            a(href='/') 
                p(class="nav-label") Home
        li 
            a(href='/about') 
                p(class="nav-label") About Us
        li
            a(href='/registration') 
                p(class="nav-label") Registration
        li 
            a(href='/leagues') 
                p(class="nav-label") Leagues
        li 
            a(href='/events') 
                p(class="nav-label") Events
        li 
            a(href='/regulations') 
                p(class="nav-label") Regulations
        li 
            a(href='/media') 
                p(class="nav-label") Media
        li 
            a(href='/contact') 
                p(class="nav-label") Contact Us