header
    nav(class="navbar")
        div(id="navbar-logo")
        ul(class="navbar-ul-options")
            li
                a(href='/') Home
            li 
                a(href='/about') About Us
            li
                a(href='/registration') Registration
            li 
                a(href='/leagues') Leagues
            li 
                a(href='/events') Events
            li 
                a(href='/regulations') Regulations
            li 
                a(href='/media') Media
            li 
                a(href='/contact') Contact Us

        div(class="navbar-options")
            div(class="hamburger")
                div(class="line1")
                div(class="line2")
                div(class="line3")
