header
    nav(class="navbar")
        div(id="navbar-logo")
        div(class="navbar-options")
            div(class="hamburger")
                div(class="line1")
                div(class="line2")
                div(class="line3")

div(class="slider close")
    ul
        li
            a(touchstart="" href='/') Home
        li 
            a(touchstart="" href='/about') About Us
        li
            a(touchstart="" href='/registration') Registration
        li 
            a(href='/leagues') Leagues
        li 
            a(href='/events') Events
        li 
            a(href='/regulations') Regulations
        li 
            a(href='/media') Media
        li 
            a(href='/contact') Contact Us
