extends layout

block content
  div(class="banner-title")
    h1= title
    div(class="banner-subtitle")
      p Welcome to #{title}

  section 
    h1 Our Vision
    p "To lead, support and grow E-Sports in 
      | 
      strong Wellington, New Zealand."
  section
    h1 What is E-Sports?
    p E-Sports (electronic sports, e-sports, or E-Sports) is a form of competition using video games. 
    |
    br
    |
    p E-Sports takes the form of organized, multiplayer video game competitions between professional players either individually or as teams.
  section 
    h1 Most Popular E-Sports Games Currently
    div(class="popular-showcase-all")

