extends layout

block content
  div(class="container")
    div(class="banner")
    div(class="banner-title")
      h1= title
      p Welcome to #{title}

    section 
      h1 Section 1
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        | Aliquam velit voluptatum similique eos odio laudantium, 
        | voluptates ratione facere iste magni est corrupti quis quidem 
    section 
      h1 Section 2
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        | Aliquam velit voluptatum similique eos odio laudantium, 
        | voluptates ratione facere iste magni est corrupti quis quidem 
    section 
      h1 Section 3
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        | Aliquam velit voluptatum similique eos odio laudantium, 
        | voluptates ratione facere iste magni est corrupti quis quidem 
  include footer
  include script
