doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale=1.0)
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ontouchstart="")
    div(id="container")
      div(id="content-wrap")
        include header
        div(class="banner")

        block content
        
        include footer
        include script
