extends layout

block content
    div(class="banner-title")
        h1=title
    
    section(class="section-two")
        h1 #{title} Showcase
        div(class="videos")
            iframe(src="https://www.youtube.com/embed/CsiOETo3PrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            iframe(src="https://www.youtube.com/embed/vaxkEqucBKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)