extends layout

block content
    div(class="banner-title")
        h1=title
    
    section(class="section-two")
        h1 Wellington E-Sports Federation LLC
        p Deserunt culpa occaecat culpa consequat. Officia fugiat occaecat est ut pariatur consequat. Mollit eu excepteur sint non magna. Proident commodo do eu in. Non commodo ullamco velit id reprehenderit occaecat cillum dolore culpa non eu mollit commodo consequat. Anim ad eu irure elit dolor do excepteur est adipisicing labore. Veniam tempor proident sit velit anim occaecat anim id nulla.
        |
        br
        |
        p Quis esse et labore pariatur nostrud ad sunt fugiat amet. Cupidatat non adipisicing sint laboris nostrud dolor eu eu adipisicing laborum consequat. Sunt mollit ipsum et adipisicing. Duis do mollit ex aliqua. Laborum fugiat ut voluptate aliquip labore quis in sint ut ullamco reprehenderit enim.
        |
        br
        |
        p Sunt sint tempor cillum proident enim elit eiusmod nisi qui pariatur voluptate ullamco. Fugiat excepteur laborum deserunt incididunt et proident magna occaecat. Irure laboris consequat magna aliqua quis aliquip officia ea laboris veniam sit. Laborum et excepteur nisi dolor non. Exercitation est culpa ut nostrud cupidatat enim mollit et. Consectetur nostrud minim anim culpa enim laborum.
        |
        br
        |
        p Lorem sunt nulla nulla dolore et exercitation deserunt velit qui proident. Quis deserunt est quis voluptate duis. Do enim voluptate officia anim. Reprehenderit aute qui amet irure exercitation. Cupidatat ex cupidatat labore incididunt ipsum do velit et sunt velit et laborum. Deserunt deserunt sint laborum eiusmod voluptate nostrud qui sint ullamco ea amet.
