/* Media - Most of the Smartphones Mobiles (Portrait) */

/* Base CSS Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #232534;
}

p,
ul {
  font-size: 14px;
}

/* When something is tapped anywhere, it will highlight when active! */
html {
  -webkit-tap-highlight-color: rgba(72, 72, 72, 0);
}

.no-scroll {
  overflow: hidden;
}

/* Container */
#container {
  min-height: 100vh;
  position: relative;
  background-color: #f8f6fc;
}

/* Content Wrap */
#content-wrap {
  /* to conform to footer */
  padding-bottom: 8.7rem;
}

/* Nav Styles */
nav {
  height: 10vh;
  position: relative;
  background-color: #232534;
}

#navbar-logo {
  position: relative;
  width: 25%;
  left: 5%;
  height: 100%;
}

#navbar-logo img {
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 70vh;
  top: 9.8vh; /* go under nav */
  position: fixed;
  flex-direction: column;
  clip-path: circle(100px at 90% -25%); /* at "horizontal" "vertical" */
  -webkit-clip-path: circle(100px at 90% -25%); /* browser support */
  background-color: #232534;
  z-index: 2;
  pointer-events: none;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.nav-label {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%); /* Center perfectly */
}

.nav-links li:active {
  background-color: #346261;
}

.nav-links li:hover {
  background-color: #346261;
}

.nav-links li a,
.nav-links li a:link,
.nav-links li a:visited {
  font-weight: bold;
  color: #e5e5ee;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.nav-links li a:active {
  color: #2abbb9;
}

.nav-links.open {
  clip-path: circle(1600px at 90% -10%); /* at "horizontal" "vertical" */
  -webkit-clip-path: circle(1600px at 90% -10%); /* browser support */
  pointer-events: all;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background: white;
  margin: 7px 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  padding: 5px;
  top: 50%;
  transform: translate(-5%, -50%); /* Perfectly center it with transform */
  z-index: 2; /* show above nav */
}

/* Navbar Toggle Animation */
.line1.animate {
  transform: rotate(-315deg) translate(7px, 9px);
  -webkit-transform: rotate(-315deg) translate(7px, 9px);
}
.line2.animate {
  opacity: 0;
}
.line3.animate {
  transform: rotate(135deg) translate(-5px, 7px);
  -webkit-transform: rotate(135deg) translate(-5px, 7px);
}

/* Content*/
.banner {
  background-image: url("../images/banner-img.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 40vh;

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.banner-title {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fcd55e;
  width: 100%;
  height: 40vh;
  margin-top: -40vh;
  position: absolute;
}

.banner-title h1 {
  margin-bottom: 20px;
}

/* Index Section */
section {
  padding: 3vh 10vw 3vh 10vw;
  text-align: center;
  background-color: #f8f6fc;
  border-top: 2px solid lightgrey;
  margin-left: 2vw;
  margin-right: 2vw;
}

section h1 {
  margin-bottom: 3vh;
  color: black;
}

section p {
  color: gray;
}

.popular-showcase-all {
  display: flex;
  flex-wrap: wrap;
}

.game-showcase {
  align-content: center;
  margin: 15px auto;
  width: 300px;
  height: 250px;
  position: relative;
  background-size: cover;
  color: white;
  border-radius: 15px;
}

.game-showcase h1,
.game-showcase p {
  color: white;
}

.game-header {
  float: left;
  padding: 10px;
}

.game-p {
  text-align: right;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0 10px 10px 0;
  line-height: 130%;
}
/* ---Section--- */

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #232534;
}

.footer-div {
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.footer-div ul {
  columns: 3;
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.footer-div li {
  line-height: 200%;
  font-size: 12px;
  text-align: center;
}

.footer-div li a,
.footer-div li a:link,
.footer-div li a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #d4d4dc;
}

.copyright {
  color: black;
  background-color: goldenrod;
  padding: 1vh 5vw;
  text-align: center;
  bottom: 0;
}

/* About Page */
.staff-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.person {
  margin: 0 auto;
  padding: 5vh 0;
}

.person h2 {
  color: #feda6a;
  padding: 1vh 0;
}

.staff-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 2vh;
}
/* ---About--- */

/* Form Input */
form,
select,
button {
  /* Font Color */
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form-outer-div {
  margin: 0 auto;
}

form div {
  padding: 10px;
  display: block;
  text-align: left;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

form input,
select {
  width: 100%;
  height: 5vh;
  background-color: white;
  color: #1d1e22;
}

.submitButton {
  background-color: green;
  width: 25%;
  height: 4vh;
}
/* ---Form Input--- */

/* Contact */
.contact-info {
  margin: 0 auto;
  color: white;
  /* text-align: left; */
}

.contact-info a {
  color: goldenrod;
}
/* ---Contact--- */

/* Media */
iframe {
  width: 100vw;
  height: 50vh;
  padding: 10px;
}

.videos {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ---Media--- */

/* League */
table {
  width: 100%;
  margin-top: 10px;
}

table,
th,
td {
  border: 3px solid #232534;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

th {
  color: goldenrod;
  text-align: center;
}

td {
  color: black;
}

.division-span {
  column-span: all;
}

.games {
  font-weight: bold;
}
/* ---Leagues--- */

/* Media - Low Resolution Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    height: 7vh;
  }

  .nav-links {
    top: 6.8vh;
    height: 50%;
  }

  .line1,
  .line2,
  .line3 {
    width: 50px;
    height: 5px;
    margin: 10px 0;
  }

  .line1.animate {
    transform: rotate(-315deg) translate(10px, 11px);
    -webkit-transform: rotate(-315deg) translate(10px, 11px);
  }

  .line3.animate {
    transform: rotate(135deg) translate(-11px, 12px);
    -webkit-transform: rotate(135deg) translate(-11px, 12px);
  }

  .nav-links {
    clip-path: circle(100px at 90% -35%); /* at "horizontal" "vertical" */
    -webkit-clip-path: circle(100px at 90% -35%); /* browser support */
  }
}

/* Media - Low Resolution Tablets (landscape) */
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }

  #navbar-logo {
    left: 0;
  }

  .nav-links {
    top: 14.5vh;
    height: 75%;
    clip-path: circle(10px at 90% -50%);
    -webkit-clip-path: circle(10px at 90% -50%);
  }

  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    margin: 5px 0;
  }

  .line1.animate {
    transform: rotate(-315deg) translate(5px, 6px);
    -webkit-transform: rotate(-315deg) translate(5px, 6px);
  }
  .line3.animate {
    transform: rotate(135deg) translate(-5px, 7px);
    -webkit-transform: rotate(135deg) translate(-5px, 7px);
  }
}

/* Media - Tablets, iPads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    height: 7vh;
  }

  .nav-links {
    top: 6.8vh;
    height: 50%;
  }

  .line1,
  .line2,
  .line3 {
    width: 50px;
    height: 5px;
    margin: 10px 0;
  }

  .line1.animate {
    transform: rotate(-315deg) translate(10px, 10px);
    -webkit-transform: rotate(-315deg) translate(10px, 10px);
  }
  .line3.animate {
    transform: rotate(135deg) translate(-11px, 12px);
    -webkit-transform: rotate(135deg) translate(-11px, 12px);
  }
}

/* Media - Tablets, iPads (portrait) */
@media (min-width: 768px) and (max-height: 1024px) {
  nav {
    height: 7vh;
  }

  #navbar-logo {
    left: 0;
  }
}

/* Media - Tablets, iPads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    height: 10vh;
  }

  .nav-links {
    top: 9.8vh;
    height: 60%;
    clip-path: circle(10px at 90% -50%);
    -webkit-clip-path: circle(10px at 90% -50%);
  }
}

/* Media - Laptops, Desktops @ 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  nav {
    height: 6vh;
  }

  #navbar-logo {
    left: 0;
  }

  .nav-links {
    position: absolute;
    flex-direction: row;
    height: 6vh;
    width: 75%;
    top: 0;
    right: 0;
    /* Need this to allow functionality of buttons! */
    clip-path: circle(5000px at 0% 0%);
    -webkit-clip-path: circle(5000px at 0% 0%);
    pointer-events: all;
  }

  .hamburger {
    display: none;
  }
}

/* Media -  Desktops (Higher Resolutions)*/
@media (min-width: 1281px) {
  nav {
    height: 5vh;
  }

  #navbar-logo {
    width: 10%;
  }

  .nav-links {
    position: absolute;
    flex-direction: row;
    height: 5vh;
    width: 75%;
    top: 0;
    right: 0;
    transition: none;
    /* Need this to allow functionality of buttons! */
    clip-path: circle(5000px at 0% 0%);
    -webkit-clip-path: circle(5000px at 0% 0%);
    pointer-events: all;
    transition: none;
  }

  .hamburger {
    display: none;
  }

  .banner-title h1 {
    font-size: 300%;
  }

  /* Media */
  iframe {
    width: 50%;
  }

  .footer-div ul {
    columns: 8;
  }
}
